img {
    max-width: 100%;
}

body {
    background-color: $secondary;
    padding-bottom: 5vh;
}

h1 {
    color: $warning;
}


// button {
//     border-radius: $base-border-radius;
//     border: $base-border-thickness solid #ddd;
//     padding: II;
// }

